/* COLOR PALETTE */
:root {
    --submitbtn: #e4d9ac;
    --historybtn: #5484ac;
    --leftside: #226ba3;
    --cards: #84d4fc;
    --header: #226ba3;
    --dark: #131e24;
    --light: #FAF9F6;
}

/* BODY */

body {
    font-size: medium;
    color: dark;
    background-color: var(--light);
}

/* HEADER */
header {
    background-color: var(--header);
    color: var(--light);
}

/* LEFT SIDE */
.leftside {
    padding: ;
    background-color: var(--leftside);
}

li {
    list-style-type: none;
}

/* BUTTONS */

button.search {
    background-color: var(--submitbtn);
}

button#historybtn {
    width: 75%;
    background-color: var(--historybtn);
    color: var(--light);
}

/* CURRENT DAY */

div

/* CARDS */
.card {
    width: 16%;
    background-color: var(--cards);
    border: var(--dark);
}

/* */
/* */